.toggle-button {
  width: 200px;
}
.title-content {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
img {
  width: 100%;
}
.our-prod {
  text-align: center;
}
.summary {
  background: #171010;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
}
.icon-title {
  display: flex;
  justify-content: space-between;
}
